## Importing Libraries

`import` keyword is used to import libraries

We can assign an alisas using `as` keyword

#### Import Pandas

Pandas is a library to manage data very similar to an excel table

It is commonly aliased as `pd`

### Reading a CSV

 `CSV` stands for comma separated value
 
 `read_csv(<FILENAME>)` is used to read a file with this format
 
 This returns a DataFrame that can be assigned to a variable `df`

Function `head(<N>)` is used to view the first `N` rows

Function `tail(<N>)` is used to view the last `N` rows

---

### REAding all CSVs

Lets read all the CSVs

You can assign column values using `df[<COLUMN NAME>] = <VALUE>`

`concat(<DFs>)` can be used to join all the Dataframes

### Initial insights

With `shape` we get the size of the Dataframe as (rows, columns)

With `count()` we get the count of the rows per column

Or the number of unique values per column with `nunique`

We can perfrom functions in columns individualy

We can group using `groupby` and use a function to get some insights

In [66]:
#Grouping by patent type and counting

In [67]:
#Grouping by patent type and counting unique values

Use `describe` for  full insights

### Saving CSV

We can save the Dataframe using `to_csv(<FILENAME>)`

In [68]:
df.to_csv('patents.csv', index=None)

### Visualizations

Making a visual for number of unique values